@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
/*Header and footer wrappers*/

.header-wrapper,
.footer-wrapper {
  margin: 0;
  margin-right: 0px;
  width: 100%;
  height: 830px;
}

.footer-wrapper {
  height: 500px;
}

/*Logo area and header*/

.logo-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    width: 100%;
    margin: 0;
  }
  
  .logo {
    margin-left: 4rem;
  }
  
  .header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: #737373;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;
  
    color: #ffffff;
    width: 100%;
    height: 100%;
  }
  
  .header-p1 {
    margin: 80px 0 30px 0;
    font-size: 25px;
    font-weight: 600;
  }
  
  .header-p2 {
    font-size: 20px;
    margin-bottom: 3%;
  }
  
  .header-h {
    text-align: center;
    margin: 0 100px 70px 100px;
    font-size: 60px;
  }

  /*Buttons header and footer*/

.play-store,
.app-store,
.play-store-footer,
.app-store-footer {
  color: #ffffff;
  background-color: #f74a25;
  border: #f74a25 1px solid;
  border-radius: 30px;
  padding: 20px 40px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.play-store-footer,
.app-store-footer {
  border-radius: 10px;
}

.play-store,
.play-store-footer {
  margin-right: 40px;
}

.app-store,
.app-store-footer {
  background-color: transparent;
  border: #ffffff 1px solid;
}

.play-store:hover,
.app-store:hover,
.play-store-footer:hover,
.app-store-footer:hover {
  border: 3px solid white;
}

.span2 {
  display: none;
}

/*Phones, line*/

.phones {
    text-align: center;
  }
  
  .hr-line, .hr-line1 {
    max-width: 70%;
    margin: 20px auto;
    border-color: #e4e4e4;
  }
  .hr-line1 {
    display: none;
  }
  
  .main-header {
    font-size: 44px;
    text-align: center;
    margin-top: 5%;
  }

  /*'Create account', 'explore varieties' sections*/

.create-account,
.variaties {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0;

  background: #ffffff;
}

.phone1,
.phone2 {
  margin: 0 15%;
  filter: drop-shadow(20px 10px 30px rgba(139, 139, 139, 0.5));
}

.info {
  margin-right: 10%;
}

.info,
.info2 {
  padding: 3%;
}

.info2 {
  margin-left: 15%;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #fa4a0c;
}

.p1 {
  margin-top: 10px;
  margin-bottom: 15px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}

.p2 {
  margin-top: 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #737373;
}

/*Footer*/

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 150px;
  
    background-color: #737373;
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  
    color: #ffffff;
    width: 100%;
    height: 100%;
  }
  .footer-p1{
    margin-bottom: 3%;
  }
  
  .footer-p2, .footer-p3 {
    margin-bottom: 3rem;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
  }
  
  .footer-p3 {
    display: none;
  }
  
  .logo-socials-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .facebook {
    margin: 0 30px;
  }
  
  .logo-footer {
    margin-left: 80px;
  }
  
  .p-footer1 {
    display: none;
  }

  /*Media iPhone */

@media screen and (min-width: 320px) and (max-width:633px){

    /*Media header*/
  
    .logo {
      height: 50px;
      width: 100px;
      margin-left: 0.5rem;
    }
  
    .header-info {
      background-image: none;
      background-color: #ffffff;
      color: #252b42;
      align-items: center;
    }
  
    .header-p1 {
      margin: 20px;
    }
  
    .header-h {
      margin: 0 20px 40px;
      font-size: 40px;
      text-align: center;
    }
  
    .header-p2 {
      margin: 0 10px 50px;
      font-size: 24px;
      text-align: center;
    }
  
    /*Media buttons-header*/
  
    .buttons {
      display: flex;
      flex-direction: column;
    }
    .play-store {
      margin-bottom: 10%;
      margin-right: 0;
    }
    .app-store {
      border-color: #f74a25;
      color: #f74a25;
    }
    .app-store:hover, 
    .play-store:hover{
      border: #f74a25 3px solid;
    }
    .play-store:hover {
     background-color:#ffffff;
     color: #f74a25;
    }
  
    /*Media phones, line*/
  
    .twophones {
      width: 420px;
      margin-top: -150px;
    }
  
    .main-header {
      font-size: 30px;
      margin-bottom: 3%;
    }
  
    .hr-line {
      display: none;
    }
    .hr-line1 {
      display: block;
      max-width: 100%;
    }
  
    /*Media 'create account', 'explore varieties' sections*/
  
    .create-account {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      margin-left: 20px;
    }
  
    .info {
      text-align: center;
    }
  
    .variaties {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    .p1 {
      font-size: 30px;
      line-height: 40px;
    }
  
    .phone1 {
      width: 270px;
      margin-right: 80px;
      
    }
  
    .phone2 {
      width: 250px;
      filter: drop-shadow();
    }
  
    .info2 {
      margin-left: 0;
    }
  
    /*Media footer*/
  
    .footer-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0;
      background-image: none;
      background-color: #252b42;
    }
    .footer-p2 {
      display: none;
    }
    .footer-p3 {
      display: initial;
    }
  
    /*Media buttons-footer*/
  
    .buttons-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .play-store-footer,
    .app-store-footer {
      padding: 20px;
    }
  
    .span1 {
      display: none;
    }
  
    .span2 {
      display: initial;
    }
  
    .logo-footer {
      display: none;
    }
  
    .logo-socials-area {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  
    .p-footer {
      display: none;
    }
  
    .p-footer1 {
      display: initial;
    }
  
  }

  @media screen and (max-width: 1051px) {
    .phone1 {
      width: 250px;
    }
    .phone2 {
      width: 230px;
    }
  }
