@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
/*Header and footer wrappers*/

.header-wrapper,
.footer-wrapper {
  margin: 0;
  margin-right: 0px;
  width: 100%;
  height: 830px;
}

.footer-wrapper {
  height: 500px;
}

/*Logo area and header*/

.logo-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    width: 100%;
    margin: 0;
  }
  
  .logo {
    margin-left: 4rem;
  }
  
  .header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: #737373;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;
  
    color: #ffffff;
    width: 100%;
    height: 100%;
  }
  
  .header-p1 {
    margin: 80px 0 30px 0;
    font-size: 25px;
    font-weight: 600;
  }
  
  .header-p2 {
    font-size: 20px;
    margin-bottom: 3%;
  }
  
  .header-h {
    text-align: center;
    margin: 0 100px 70px 100px;
    font-size: 60px;
  }